.ManagementToolbar {
  height: 28px;
  margin-bottom: 20px;

  .icon {
    display: inline-block;
    font-size: 18px;
    line-height: 28px;

    i {
      font-size: 24px;
      padding-right: 5px;
    }
  }

  .right {
    float: right;

    a + a {
      margin-left: 10px;
    }

    a + button {
      margin-left: 10px;
    }
  }
}
