.item{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 0;
  height: 160px;

  .info { flex: 2 0px; }
  .img { order: 1; }
  .info { order: 2; }
  .tips { order: 3; }
}

.img{

  a {
    max-height: 0;
  }

  .imge{
    height:138px;
    width: 138px;
  }
}

.info{
  float:left;
  text-align: left;
  padding-left: 10px;
  line-height: 2em;

  .tags {
    padding: 10px 0 0;
  }

  .tag {
    padding: 3px;
    border: 1px solid #666;
    border-radius: 10px;
  }

  .tag + .tag {
    margin-left: 5px;
  }
}

.tips {
  float: right;
  text-align: center;
  padding-top: 8px;
  margin-right: 30px;

  p + p {
    margin-top: 12px;
  }
}

.rate {
  font-size: 10px;
}

.comment, .read, .remain {
  // border: 1px solid #666;
  // border-radius: 50%;
  // padding: 2px;
}

.badge-container {
  position: relative;
}

.badge {
  display: block;
  position: absolute;
  top: 0px;
  left: 20px;
}
