.BookView {
}

.thumbnail {
  display: inline-block;

  img {
    height:138px;
    width: 138px;
  }
}

.info{
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding-left: 10px;
  line-height: 2em;
}

.borrowers {
  display: inline-block;
  vertical-align: top;
}

.datesSpliter {
  padding: 0 10px;
}

.oprs {
  margin-top: 10px;
}

.tag{
  border: 1px solid black;
  border-radius: 50%;
  padding: 2px;
}

.tab{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid black;
  border-radius: 1%;
  .tabList { order: 1; }
  .tabPanel { order: 2; }
}

.tabList{
  width: 100%;
  font-weight: 600;
  text-align: left;
  background-color: #b0e0e6;
}

.tabPanel{
  width: 100%;
  text-align: left;
}
